@import url('http://fonts.cdnfonts.com/css/silkscreen');


/* Big container with choices and result box */
.choiceBox {
    width: 800px;
    height: 400px;
    background-color:cornflowerblue;
    background-image: url(./media/pictures/tavern.jpg);
    background-repeat:no-repeat;
    background-size:contain;

}
    /* Result box */
    .resultBox {
        width: 800px;
        display: flex;
        justify-content: space-evenly;
        /* background-color: cadetblue; */
    }


    .result {
        margin-top: 20px;
        position: relative;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        border: solid 2px black;
    }

    .resultText{
        position: relative;
        font-family: 'Silkscreen', sans-serif;
        font-size: 1.7em;
        color: rgb(255, 255, 255);
    }

    .result::before {
        content: "";
        background-image: url(./media/pictures/table.jpg);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.7;
    }




    /* User and computer chosen pictures */
    .currentChoice {
        width: 800px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: green; */
    }

    #userChoiceBox, #computerChoiceBox {
        display: flex;
        width: 200px;
        height: 250px;
        /* background-color: greenyellow; */
    }

    #userChoiceImg, #computerChoiceImg {
        display: block;
        height: 200px;
        margin: auto;
        /* background-color: indigo; */
    }

    #userChoiceImg {
        transform: rotate(90deg);
    }

    #computerChoiceImg {
        transform: scaleX(-1) rotate(90deg);
    }


/* Panel with possible choices */
.imagesForChoice {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 250px;
    background-image: url(./media/pictures/table.jpg);
    /* background-color:coral */
}

.rpsImage {
    transition: 0.2s;
    max-width: auto;
    height: 80%;
    margin: auto;
}

.rpsImage:hover {
    transform: scale(1.1);
    cursor:grab;
}

.rpsImage:active {
    transform: scale(1);
}



