/* @import url(https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

/* #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

body {
  background-color: hsl(219, 79%, 66%);
  font-family: cursive;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.4em;
}
p {
  font-size: 1.2em;
}
span {
  font-size: 2em;
}

.container {
  background-color: hsl(0, 100%, 50%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200vh; /* Par katru slaidu + 100vh*/
}

.slide {
  background-color: hsl(0, 0%, 0%);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("./media/pictures/Main-BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* .slide--end{
  justify-content: flex-end;
} */

/* Navbar styling*/
.navbar {
  /* background-color: hsl(180, 100%, 50%); */
  position: relative;
  display: flex;
  width: 30%;
  padding-top: 16em;
  flex-wrap: wrap;
}

.navbar li {
  background-color: hsl(0, 0%, 77%);
  display: flex;
  border: 1px solid #6e6e6e;
  justify-content: center;
  border-radius: 100px;
  margin: 2px;
  padding: 1em 2em;
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
}
.navbar li:hover {
  background-color: hsl(0, 0%, 50%);
  opacity: 0.7;
  transition: all 0.1s ease-out;
}

.navbar li:active{
  transform: translate(1px, 2px);
}

.navbar li a {
  color: rgb(90, 80, 70);
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar li:hover > a {
  letter-spacing: 2px;
  font-weight: bold;
  color: rgb(54, 48, 42);
}

.start {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;
  align-items: center;
}

.start a {
  background-color: hsl(0, 0%, 77%);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(90, 80, 70);
  padding: 1em 10em;
  border: 1px solid #6e6e6e;
  border-radius: 100px;
}

/* Input styling */
input {
  /* margin-top: 6em; */
  background-color: hsl(0, 0%, 77%);
  text-decoration: none;
  /* text-align: center; */
  font-size: 1.8em;
  padding: 0.3em 0.6em;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
}

.input::placeholder {
  color: rgb(90, 80, 70);
}

.input:hover {
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 0%);
  transition: all 0.1s ease-out;
  letter-spacing: 1px;
}

/* Button styling */

.button {
  background-color: hsl(0, 0%, 77%);
  letter-spacing: 0px;
  text-align: center;
  width: 10em;
  color: rgb(90, 80, 70);
  font-size: 1.8em;
  padding: 0.3em 0.6em;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 0%);
  transition: all 0.1s ease-out;
  letter-spacing: 1px;
}

.character-box {
  /* background-color:yellow; */
  position: relative;
  display: flex;
  align-items: center;
  margin: 15em 10em 0 10em;
}

/* Arrows styling */
.triangle {
  width: 0;
  height: 0;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  border-radius: 20%;
  cursor: pointer;
  opacity: 0.8;
}

.left {
  border-right: 8vw solid #555;
}

.right {
  border-left: 8vw solid #555;
}

.box {
  background-color: hsl(348, 83%, 47%);
  position: relative;
}

.vitalijs {
  background: hsl(271, 76%, 53%);
  width: 200px;
  height: 200px;
}

.romans {
  background-color: hsl(0, 59%, 41%);
  width: 200px;
  height: 200px;
}

.matiss {
  background-color: hsl(182, 25%, 50%);
  width: 200px;
  height: 200px;
}
