* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: hsl(219, 79%, 66%);
  /* overflow: hidden; */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 200vh; /* Par katru slaidu + 100vh*/
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
  background-image: url("../media/pictures/Main-BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Navbar styling*/
.navbar {
  position: relative;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.character-box {
  position: relative;
  display: flex;
  align-items: center;
}

.character {
  display: none;
}
.active {
  display: block;
  margin: 0.5em 2rem;
}

/* Arrows styling */
.triangle {
  width: 0;
  height: 0;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  cursor: pointer;
  opacity: 0.8;
}

.triangle:active {
  opacity: 0.8;
  transform: scale(0.96);
  transition: all 0.1s ease-out;
}

.left {
  border-right: 8vw solid hsl(0, 0%, 40%);
}
.left:hover {
  border-right: 8vw solid hsl(0, 0%, 90%);
}
.right {
  border-left: 8vw solid hsl(0, 0%, 40%);
}

.right:hover {
  border-left: 8vw solid hsl(0, 0%, 90%);
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  opacity: 0.6;
  width: 40rem;
  /* height: 20rem; */
  padding: 1em;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  line-height: 0.8em;
  padding: 0.4em;
}
.content {
  text-align: justify;
}
