* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* messes with all text in page and can't be rewritten */
  /* font-size: 62.5%; */
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(219, 79%, 66%);
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700vh; /* Par katru slaidu + 100vh*/
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
  background-image: url("../media/pictures/Main-BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slideGame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
  background-image: url("../media/pictures/dungeon-background.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#slide-6{
  background-image: url("../media/pictures/dungeon-background-treasures.jpg");  
}

/* Navbar styling*/
.navbar {
  position: relative;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20%;
  opacity: 0;
}

.logoContainer{
  display: flex;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 25%;
  height: auto;
  z-index: 1;
  position: absolute;
}

.audioControls{
  position: fixed;
  z-index: 2;
  opacity: 0;
}

.wizard {
  position: absolute;
  width: 10%;
  bottom: 5%;
  left: 20%;
  transform: rotateY(180deg);
}

/* Character Choise Box */

.characterBox {
  /* background-color: yellow; */
  width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5em 0em 5em 0em;

}

.character {
  display: none;
  height: 250px;
  width: 250px;
  position: relative;
  object-fit:scale-down;
}
.active {
  display: block;
  margin: 0.5em 2rem;
}

/* Arrows styling */
.arrowContainer{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#arrowRight, #arrowLeft {
  opacity: 0.95;
  width: 100px;
  object-fit:contain;
}

#arrowRight:hover, #arrowLeft:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease-out;
  transform: scale(1.04);
}
#arrowRight:active, #arrowLeft:active{
opacity: 0.8;
transform: scale(0.96);
transition: all 0.1s ease-out;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(199, 199, 199);
  opacity: 0.6;
  width: 40rem;
  padding: 1em;
}

.slide-wrapper-content-four, .slide-wrapper-content-five, .slide-wrapper-content-seven{
  opacity: 0;
}

.content {
  text-align: justify;
}


.activeCharacterFour, .activeCharacterFive{
  display: flex;
  position:absolute;
  left: 20%;
  top: 30%;
  /* background-color: blue;
  width: 100px;
  height: 100px; */
}

.wizardSlideFive{
  display: flex;
  position:absolute;
  right: 20%;
  top: 30%;  
  /* background-color: blue;
  width: 100px;
  height: 100px; */
}


#monsterSlideFIve{
  display: none;
  position: absolute;
  width: 300px;
  opacity: 0;
  z-index: 2;
}

.wizardSlideSeven{
  position: absolute;
  width: 200px;
  bottom: 5%;
  right: 20%;
  opacity: 0;
}
.activeCharacterSeven{
  position: absolute;
  height: 250px;
  bottom: 5%;
  left: 20%;  
  opacity: 0;
}