@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* 
.snake-background {
  background: url(../media/pictures/dungeon-background.jpg);
  background-size: 100vw 100vh;
} */

/* @media screen and (max-width: 600px) {
  .snake-background {
    flex-direction: column;
  }
} */

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  width: 70vmin;
  height: 70vmin;
  background-color: rgba(245, 245, 245, 0.3);
}

.head {
  /* background-image: url(../media/pictures/knight.png); */
  transform: scale(1.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.snake {
  transform: scale(1.8);
  font-size: 2vmin;
  margin: auto;
  transition: all 0.1s ease-out;
}

.food {
  transform: scale(2);
  font-size: 2vmin;
  margin: auto;
}

.snake::before {
  content: '🔥';
}

.food::before {
  content: '☢️';
}

.textBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40vmin;
  padding: 10px;
  margin-left: 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.9;
  color: white;

  background-color: rgba(245, 245, 245, 0.3);
  user-select: none;
}

#speedBox {
  position: relative;
}

#scoreBox {
  position: relative;
}

#hiscoreBox {
  position: relative;
}
