/* Themes */

.btn {
  margin: 2px;
  /* padding: 1em 2em; */
  cursor: pointer;
  justify-content: center;
  visibility: visible;
  line-height: 1;
  box-shadow: 3px 3px 6px -2px black;
}

.btn:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 6px -2px black;
}

.input {
  height: 3em;
  font-size: 2.2em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.input::placeholder {
  color: rgb(150, 150, 150);
  font-size: 1em;
  text-align: center;
}

.primary {
  color: hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 40%);
  padding: 1em 1.4em;
  opacity: 0.7;
  text-transform: capitalize;
  border-radius: 4px;
  text-decoration: none;
}

.primary:hover {
  opacity: 0.5;
  color: #2d2a26;
  transition: all 0.1s ease-out;
}

.primary:active {
  color: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 40%);
  border: 1px solid hsl(0, 0%, 90%);
  opacity: 0.8;
  transform: scale(0.96);
  transition: all 0.1s ease-out;
}

.size--l {
  min-width: 30%;
}
.size--m {
  min-width: 20%;
}
.size--s {
  min-width: 10%;
}

.startBTN {
  opacity: 0;
}
